repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint (poetry)
        entry: poetry run pylint
        language: system
        types: [python]
        args: ["--rcfile=pyproject.toml"] 